/* nav styles */
.head-title {
  font-family: sofia;
  font-size: 18px;
  font-weight: 500;
  animation: name-spinner 10s 2s infinite;
  text-decoration: underline;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav .links img {
  width: 25px;
  margin: 0px 5px;
  padding: 2px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.123);
}
nav a {
  text-decoration: none;
  color: white;
}
nav .item-wrapper ul {
  display: flex;
  align-items: center;
  column-gap: 50px;
}
nav .item-wrapper .item {
  list-style: none;
}
.hmb-icon {
  display: none;
}
.mobile-nav {
  display: none;
}

/* nav styles mobile */
/* mobile styles 400px */
@media (max-width: 480px) {
  .head-title {
    font-family: sofia;
    font-size: 12px;
    font-weight: 500;
    animation: none;
    text-decoration: underline;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    margin: 2%;
  }
  nav .links img {
    display: none;
    width: 20px;
    margin: 0px 5px;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.123);
  }
  nav a {
    text-decoration: none;
    color: white;
    display: none;
  }
  nav .item-wrapper ul {
    display: none;
    align-items: center;
    column-gap: 50px;
  }
  nav .item-wrapper .item {
    list-style: none;
  }
  /* hiding the nav items */
  nav .links {
    display: none;
  }
  nav .item-wrapper {
    display: none;
  }
  .hmb-icon {
    display: block;
  }
  /* mobile nav */
  .mobile-nav {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px rgba(20, 20, 20, 0.384);
    background-color: rgb(0, 0, 0);
    border-radius: 3px;
    width: fit-content;
    padding: 15px;
    row-gap: 20px;
    position: absolute;
    right: 30px;
  }
  .mobile-nav.active {
    display: flex;
    animation: nav 0.5s;
  }
  .mobile-nav-links {
    display: flex;
    flex-direction: column;
  }
  .mobile-nav-links a {
    margin: 20px auto;
    text-decoration: none;
    color: white;
    font-weight: 500;
  }
  .mobile-nav img {
    width: 20px;
    margin: 10px;
  }
  @keyframes nav {
    from {
      transform: translate(300px);
      scale: 0.5;
    }
    to {
      transform: translate(0px);
      scale: 1;
    }
  }
}
